@model SistemaTurnos.Models.TipoContrato

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TipoContrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDuracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDuracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalidadJuridica.VTipoCalidadJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalidadJuridica.VTipoCalidadJuridica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoContrato }) |
    @Html.ActionLink("Volver a la Grilla", "Index")
</p>
