@model SistemaTurnos.Models.CambioTurno

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CambioTurno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VObservaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VObservaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.VDescripcionEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.VDescripcionEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurnoUsuario.IdTurnoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurnoUsuario.IdTurnoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.VEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario1.VEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1.VEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Grilla", "Index")
        </div>
    }
</div>
