@model IEnumerable<SistemaTurnos.Models.CambioTurno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VObservaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.VDescripcionEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TurnoUsuario.IdTurnoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario1.VEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VObservaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.VDescripcionEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TurnoUsuario.IdTurnoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.VEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario1.VEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCambioTurno }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCambioTurno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCambioTurno })
        </td>
    </tr>
}

</table>
