@model SistemaTurnos.Models.TurnoUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TurnoUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DFechaincio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFechaincio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DFechaTermino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFechaTermino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar.VDescripcionLugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar.VDescripcionLugar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turnos.VNombreTurno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turnos.VNombreTurno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.VEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTurnoUsuario }) |
    @Html.ActionLink("Volver a la Grilla", "Index")
</p>
