@model IEnumerable<SistemaTurnos.Models.TurnoUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DFechaincio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFechaTermino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lugar.VDescripcionLugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turnos.VNombreTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DFechaincio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DFechaTermino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lugar.VDescripcionLugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Turnos.VNombreTurno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.VEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTurnoUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTurnoUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTurnoUsuario })
        </td>
    </tr>
}

</table>
