@model IEnumerable<SistemaTurnos.Models.TipoUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoUsuario1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permisos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.VNombreRol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoUsuario1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Permisos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.VNombreRol)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTipoUsuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTipoUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTipoUsuario })
        </td>
    </tr>
}

</table>
