@model SistemaTurnos.Models.Contrato

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DFechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DFechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoContrato.IdTipoContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoContrato.IdTipoContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.VEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Grilla", "Index")
        </div>
    }
</div>
