@model IEnumerable<SistemaTurnos.Models.Contrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DFechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoContrato.IdTipoContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.VEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DFechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DFechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoContrato.IdTipoContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.VEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdContrato }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdContrato }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdContrato })
        </td>
    </tr>
}

</table>
